* {
    padding: 0px;
    margin: 0px;
}

.footer{
    background-color: #409c8d;
    border: solid 2px black;
    width: 250;
    height: 250px;
    padding-top: 10px;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 300px;
    padding: 40px;
}

.Title{
    font-weight: bold;
    font-size: 19px
}
