* {
    padding: 0px;
    margin: 0px;
}

header {

    background-color: hsl(174, 76%, 38%);
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: whitesmoke;
}

.name-countryes{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    
    color: black;
}

a{}