/* Fondo del formulario */
* {
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #f2f2f2;
}

.container_form {
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 95vh;
  margin: 35%;
  margin-top: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   /* Sombra */
  transition: 0.3s;
   /* Transición suave al cambiar de estado */
  border-radius: 5px;
   /* Bordes redondeados */
  padding: 20px; 
  /* Espacio interno */
  background-color: #fff; 
  
}
  h1{
    text-align: center;
    font-size: 100%;
  }
  
  /* Estilos adicionales */
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .confirm-input{
    display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 13px;
    margin-top: 12px;
   
  }
 
  .error-message{
    color:red;
  }

  .Button{
    background-color: #4d37c0; 
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;    
  }

.detail-image{
    height: 25%;
    width: 25%;
    
}
.detail-name{
    font-size: x-large;
    display: flex;
  justify-content: start;
}
.buttons-udb{
  padding-top: 1%;
}